NEXT_PUBLIC_API_URL=http://localhost:3001
API_URL=http://localhost:3001
JWT_ACCESS_SECRET=generate-with-openssl-rand-hex-32
NEXT_PUBLIC_SENTRY_DSN=https://your-key@oXXXXXX.ingest.us.sentry.io/XXXXXXX
